@use 'sass:color'
@use '../variables'

$btn-bg: variables.$navbar-base-color
$btn-text: variables.$text-color-dark
$btn-shadow: color.adjust($btn-bg, $saturation: 20%, $lightness: -8%)
$btn-hover-bg: color.adjust($btn-bg, $saturation: 10%, $lightness: -4%)
$btn-active-bg: color.adjust($btn-bg, $saturation: 10%, $lightness: 4%)
$btn-active-shadow: color.adjust($btn-bg, $saturation: 20%, $lightness: 8%)

%button-style
  display: flex
  justify-content: center
  align-items: center

  background: $btn-bg
  color: $btn-text

  font-family: variables.$base-font
  font-size: 1.7rem
  font-weight: 600
  text-transform: uppercase

  width: 16rem
  height: 4.2rem

  cursor: pointer
  border: none
  border-radius: 1rem
  box-shadow: 0 0.55rem $btn-shadow

  &:hover
    background: $btn-hover-bg

  &:active
    background: $btn-active-bg
    box-shadow: 0 0.2rem $btn-active-shadow

.buttons-container
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 20rem
  padding: 0 3rem

  a
    text-decoration: none
    width: max-content

  .download-button
    @extend %button-style
