@use 'sass:color'
@use '../variables'

.container.warning
  flex-direction: row

.warning
  margin: 0
  padding: 2rem 0 !important
  
  color: variables.$about-project-text-color
  font-weight: 700
  font-style: italic

  p
    margin: 0 1.6rem

.container.download
  flex-direction: row
  justify-content: space-evenly

  @media (max-width: 1000px)
    flex-direction: column

  .card
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

    height: 400px
    width: 300px

    .link
      display: flex
      justify-content: center
      align-items: center

      height: 80px
      width: 260px
      
      background: #533822
      text-decoration: none
      color: variables.$text-color-dark

      border-radius: 10px

      .icon
        width: 30%
        color: variables.$text-color-dark

      p
        width: 70%
        font-size: 1.8rem

    .qrcode
      border: 0.2rem solid black
      height: 260px
      width: 260px

      border-radius: 10px
