@use './variables'

.section-title
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    span
        width: 90%
        height: 0.2rem
        background: variables.$text-color

    h1
        color: variables.$text-color
        font-family: variables.$base-font
        font-weight: 500
        font-size: 2rem
        text-transform: uppercase
        letter-spacing: 0.7rem