@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$base-font: 'Montserrat'
    
// Light Theme
$base-color: #d7ccb3
$text-color: #180606

// Dark Theme
$base-color-dark: #2e2e2e
$text-color-dark: #f2e4e4

// Navbar
$navbar-base-color: #553838
$navbar-shadow-color: rgba(156, 16, 15, 0.3)
$navbar-text-color: #ffffff
$navbar-text-hover: #f0a465

// Download
$download-btn-shadow-color: rgba(112, 19, 19, 0.835)

// Footer
$footer-base-color: #271515
$footer-primary-color: $navbar-text-color
$footer-secondary-color: #fda965

$about-project-text-color: #b30404

// Scrollbar
$scrollbar-thumb-color: #553838
$scrollbar-thumb-hover: #271515
$scrollbar-track-color: #aa9b8f
$scrollbar-size: 320px

// Colors
$dark-color: #271515
$light-color: #ecf0f1
$primary-color: #f78e38

// Spacing
$spacing-unit: 1rem